# ignore special files or folds
*~
.idea
.DS_Store

# ignore all building results
dist
build
docs/_build
*.egg-info

# ignore all testing/running results
.run
.coverage
.pytest_cache
*__pycache__*
*test*
output_logs/
conference_paper_logs/

# ignore specific kinds of files like all PDFs
*.pdf
*.ipynb

# ignore all the run scripts
run_*.sh
csai.py
brits.py
deari.py
bayesian_deari.py
grud.py
vrin.py

# ignore the saved model
classification/